Approaches Passive Portfolio Management and Investor Approaches :Aggressive Strategies 
References : https://www.investopedia.com/terms/p/portfoliomanagement.asp
In the portfolio management we want to identify The Correlation Coefficient of 2 companies or more stock data, from that we can idendify should be diversify the portfolio of what types of companies 
Consider using the Numpy or others method ( https://forecastegy.com/posts/correlation-between-two-time-series-python/#:~:text=NumPy%20is%20the%20most%20popular,corrcoef%20function.&text=This%20function%20calculates%20the%20Pearson%20correlation%20coefficient.)

Consider using Price - Earning ratio because this is the most common way to value a stock is to compute the company's price-to-earnings (P/E) ratio. The P/E ratio equals the company's stock price divided by its most recently reported earnings per share (EPS). A low P/E ratio implies that an investor buying the stock is receiving an attractive amount of value.https://www.investopedia.com/articles/investing/011416/how-evaluate-stock-performance.asp

As the yfinance package is a powerful tool to combine the technology edge of data analysis and trading finance.In this project, the main objective is finding the relationship between EPS ( Earning Per Share) and investor mainly focus aspects inside a financial statement ( Tax Provision, Selling And Marketing; General And Administrative Espense)

In [1]:
# importing modules 
import pandas as pd
from pandas_datareader.data import DataReader
from datetime import datetime
import yfinance as yf
from pandas_datareader import data as pdr
import scipy.stats
import statistics
from scipy.stats import pearsonr, spearmanr, kendalltau
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

/Users/minhphan/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
# List of financial services that do investment and asset management
fin_list = ['STT', 'C', 'BK', 'UBS']

In [3]:
# Checking the yfinance module functionalities 
citi = yf.Ticker("C")
state = yf.Ticker("STT")
bny = yf.Ticker("BK")
ubs = yf.Ticker("UBS")

In [4]:
inc_citi = citi.income_stmt
inc_state = state.income_stmt
inc_bny = bny.income_stmt
inc_ubs = ubs.income_stmt

citi_eps = inc_citi.loc["Diluted EPS"]
state_eps = inc_state.loc["Diluted EPS"]
bny_eps = inc_bny.loc["Diluted EPS"]
ubs_eps = inc_ubs.loc["Diluted EPS"]

citi_v = list(citi_eps)
state_v = list(state_eps)
bny_v = list(bny_eps)
ubs_v = list(ubs_eps)

In [5]:
# Print the EPS of citi bank
print(citi_v)

[4.04, 7.0, 10.14, 4.87, nan]

The last element in the EPS list is NaN so we need perform the data cleasing process for further analysis

In [6]:
#  function for removing the last element in the EPS list 
def rem_last(list):
    list.pop()

In [7]:
rem_last(citi_v)
rem_last(state_v)
rem_last(bny_v)
rem_last(ubs_v)

In [8]:
Years= [2023,2022,2021,2020]

In [9]:
eps_dict = {"Years": Years,
    "Citi Group" :citi_v,
            "State Street":state_v,
            "BNY Mellon": bny_v,
            "UBS": ubs_v}

In [10]:
print(eps_dict)

{'Years': [2023, 2022, 2021, 2020], 'Citi Group': [4.04, 7.0, 10.14, 4.87], 'State Street': [5.58, 7.19, 7.19, 6.32], 'BNY Mellon': [4.0, 2.9, 4.14, 3.83], 'UBS': [8.45, 2.25, 2.06, 1.79]}

In [11]:
df = pd.DataFrame(eps_dict)

In [12]:
print(df)

   Years  Citi Group  State Street  BNY Mellon   UBS
0   2023        4.04          5.58        4.00  8.45
1   2022        7.00          7.19        2.90  2.25
2   2021       10.14          7.19        4.14  2.06
3   2020        4.87          6.32        3.83  1.79

In [41]:
# Using income statement elements such as : Tax Provision, Selling And Marketing; General And Administrative Espense 
# to identify the correlation

# Tax Provision, Selling And Marketing; General And Administrative Espense factors as Correlation Coefficient with EPS from the Income Statement

## Citi Group

In [13]:
# Extracting chosen factors 
citi_tax = inc_citi.loc["Tax Provision"]
citi_selling_marketing = inc_citi.loc["Selling And Marketing Expense"]
citi_gen_admin = inc_citi.loc["General And Administrative Expense"]

citi_dict ={"Tax Provision" : citi_tax,
            "Selling And Marketing Expense": citi_selling_marketing,
            "General And Administrative Expense": citi_gen_admin
}
df_citi = pd.DataFrame(citi_dict)

In [14]:
df_citi

,Tax Provision,Selling And Marketing Expense,General And Administrative Expense
2023-12-31,3528000000.0,1393000000.0,29319000000.0
2022-12-31,3642000000.0,1556000000.0,26749000000.0
2021-12-31,5451000000.0,1490000000.0,25250000000.0
2020-12-31,2525000000.0,1217000000.0,22327000000.0
2019-12-31,NaN,NaN,NaN

In [15]:
# Drop the last row
df_citi.drop(df_citi.tail(1).index,inplace=True)

In [16]:
x = df["Citi Group"]
y = df_citi["General And Administrative Expense"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: -0.1899441505103251
Spearman correlation coefficient: -0.39999999999999997
Kendall correlation coefficient: -0.3333333333333334

In [17]:
x = df["Citi Group"]
y = df_citi["Tax Provision"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: 0.873055098363501
Spearman correlation coefficient: 0.7999999999999999
Kendall correlation coefficient: 0.6666666666666669

When we look at the Pearson correlation coefficient, we retrieved that the value 0.598 with the identification that there is moderate correlation between Earning per share and Selling and Marketing Expense. We can see that, there is acutually weak negativecorrelation between Earning Per Share and General And Administrative Expense. However, when we look at the Tax Provision part, we can see that there is strong correlation between the value of Tax Provision and Earning Per Share

## State Street

In [18]:

state_tax = inc_state.loc["Tax Provision"]
state_selling_marketing = inc_state.loc["Selling And Marketing Expense"]
state_gen_admin = inc_state.loc["General And Administrative Expense"]

state_dict ={"Tax Provision" : state_tax,
            "Selling And Marketing Expense": state_selling_marketing,
            "General And Administrative Expense": state_gen_admin
}
df_state = pd.DataFrame(state_dict)

In [19]:
df_state

,Tax Provision,Selling And Marketing Expense,General And Administrative Expense
2023-12-31,372000000.0,142000000.0,4562000000.0
2022-12-31,553000000.0,99000000.0,4378000000.0
2021-12-31,478000000.0,73000000.0,4586000000.0
2020-12-31,479000000.0,77000000.0,4368000000.0
2019-12-31,NaN,NaN,NaN

In [56]:
# Drop the last row
df_state.drop(df_state.tail(1).index,inplace=True)

In [57]:
x = df["State Street"]
y = df_state["Selling And Marketing Expense"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: -0.7212124593500673
Spearman correlation coefficient: -0.632455532033676
Kendall correlation coefficient: -0.5477225575051662

In [131]:
x = df["State Street"]
y = df_state["General And Administrative Expense"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: -0.18663607623338274
Spearman correlation coefficient: 0.21081851067789195
Kendall correlation coefficient: 0.18257418583505539

In [132]:
x = df["State Street"]
y = df_state["Tax Provision"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: 0.8709202268580564
Spearman correlation coefficient: 0.632455532033676
Kendall correlation coefficient: 0.5477225575051662

When we look at the Pearson correlation coefficient between Earning per share and Selling and Marketing Expense. Similarly, we can see that, there is acutually no correlation between Earning Per Share and General And Administrative Expense. However, when we look at the Tax Provision part, we can see that there is strong correlation between the value of Tax Provision and Earning Per Share.

In [96]:
df_state

,Tax Provision,Selling And Marketing Expense,General And Administrative Expense
2023-12-31,372000000.0,142000000.0,4562000000.0
2022-12-31,553000000.0,99000000.0,4378000000.0
2021-12-31,478000000.0,73000000.0,4586000000.0
2020-12-31,479000000.0,77000000.0,4368000000.0

## BNY Mellon

In [59]:
bny_tax = inc_bny.loc["Tax Provision"]
bny_gen_admin = inc_bny.loc["General And Administrative Expense"]

bny_dict ={"Tax Provision" : bny_tax,
            "General And Administrative Expense": bny_gen_admin}
df_bny = pd.DataFrame(bny_dict)

In [60]:
df_bny

           Tax Provision General And Administrative Expense
2023-12-31   800000000.0                       6828000000.0
2022-12-31   768000000.0                       6585000000.0
2021-12-31   877000000.0                       6337000000.0
2020-12-31   842000000.0                       5966000000.0
2019-12-31           NaN                                NaN

In [63]:
# Drop the last row
df_bny.drop(df_bny.tail(1).index,inplace=True)

In [64]:
df_bny

           Tax Provision General And Administrative Expense
2023-12-31   800000000.0                       6828000000.0
2022-12-31   768000000.0                       6585000000.0
2021-12-31   877000000.0                       6337000000.0
2020-12-31   842000000.0                       5966000000.0

In [136]:
x = df["BNY Mellon"]
y = df_bny["Tax Provision"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: 0.8555371012512922
Spearman correlation coefficient: 0.7999999999999999
Kendall correlation coefficient: 0.6666666666666669

In [138]:
x = df["BNY Mellon"]
y = df_bny["General And Administrative Expense"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: -0.26383640688331556
Spearman correlation coefficient: 0.0
Kendall correlation coefficient: 0.0

## UBS

In [97]:
ubs_tax = inc_ubs.loc["Tax Provision"]
ubs_selling_marketing = inc_ubs.loc["Selling And Marketing Expense"]
ubs_gen_admin = inc_ubs.loc["General And Administrative Expense"]

ubs_dict ={"Tax Provision" : ubs_tax,
            "Selling And Marketing Expense": ubs_selling_marketing,
            "General And Administrative Expense": ubs_gen_admin
}
df_ubs = pd.DataFrame(ubs_dict)

In [98]:
df_ubs

,Tax Provision,Selling And Marketing Expense,General And Administrative Expense
2023-12-31,873000000.0,408000000.0,27189000000.0
2022-12-31,1942000000.0,265000000.0,21059000000.0
2021-12-31,1998000000.0,242000000.0,21612000000.0
2020-12-31,1583000000.0,217000000.0,20378000000.0
2019-12-31,NaN,NaN,NaN

In [99]:
df_ubs.drop(df_ubs.tail(1).index,inplace=True)

In [139]:
x = df["UBS"]
y = df_ubs["General And Administrative Expense"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: 0.9911742372284684
Spearman correlation coefficient: 0.7999999999999999
Kendall correlation coefficient: 0.6666666666666669

In [140]:
x = df["UBS"]
y = df_ubs["Selling And Marketing Expense"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: 0.9851611178897732
Spearman correlation coefficient: 1.0
Kendall correlation coefficient: 1.0

In [141]:
x = df["UBS"]
y = df_ubs["Tax Provision"]
pearson_coef, _ = pearsonr(x, y)
print("Pearson correlation coefficient:", pearson_coef)

spearman_coef, _ = spearmanr(x, y)
print("Spearman correlation coefficient:", spearman_coef)

kendall_coef, _ = kendalltau(x, y)
print("Kendall correlation coefficient:", kendall_coef)

Pearson correlation coefficient: -0.9154096199008013
Spearman correlation coefficient: -0.39999999999999997
Kendall correlation coefficient: -0.3333333333333334

Coefficient of Determination 
https://www.investopedia.com/terms/c/coefficient-of-determination.asp



This coefficient generally answers the following question: If a stock is listed on an index and experiences price movements, what percentage of its price movement is attributed to the index's price movement?

In [40]:
# Setup the start and end time stamp for the time series
end = datetime.now()
start = datetime(end.year - 4,end.month,end.day)

In [128]:
# Using global methods to 
for stock in fin_list:
    globals()[stock] = yf.download(stock, start, end)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [91]:
company_list = [STT, C, BK, UBS]
company_name = ["State Street", "Citi Bank", "BNY MELLON ", "UBS"]

In [190]:
for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name

In [122]:
df = pd.concat(company_list, axis=0)
x= STT["Open"][].mean()
y = C["Open"].mean()

In [189]:
print(x)

76.3961210856362